* {
    primary: #a6c8ff;
    primary-fixed: #d4e3ff;
    primary-fixed-dim: #a6c8ff;
    inverse-primary: #3d5f90;
    on-primary: #01315e;
    on-primary-fixed: #001c3a;
    on-primary-fixed-variant: #224876;
    primary-container: #224876;
    on-primary-container: #d4e3ff;

    secondary: #bcc7dc;
    secondary-fixed: #d8e3f8;
    secondary-fixed-dim: #bcc7dc;
    on-secondary: #273141;
    on-secondary-fixed: #121c2b;
    on-secondary-fixed-variant: #3d4758;
    secondary-container: #3d4758;
    on-secondary-container: #d8e3f8;

    tertiary: #dabde2;
    tertiary-fixed: #f7d8ff;
    tertiary-fixed-dim: #dabde2;
    on-tertiary: #3d2846;
    on-tertiary-fixed: #271430;
    on-tertiary-fixed-variant: #553f5d;
    tertiary-container: #553f5d;
    on-tertiary-container: #f7d8ff;

    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;

    background: #0c0d11;
    on-background: #e1e2e9;
    surface: #111318;
    surface-dim: #111318;
    surface-bright: #37393e;
    surface-container-lowest: #0c0e13;
    surface-container-low: #191c20;
    surface-container: #1d2024;
    surface-container-high: #282a2f;
    surface-container-highest: #32353a;
    inverse-surface: #e1e2e9;
    on-surface: #e1e2e9;
    on-surface-variant: #c3c6cf;
    inverse-on-surface: #2e3035;

    outline: #8d9199;
    outline-variant: #43474e;
    shadow: #000000;
    scrim: #000000;

    primary-transparent-50: rgba(166, 200, 255, 0.5);
    primary-transparent-60: rgba(166, 200, 255, 0.6);
    primary-transparent-70: rgba(166, 200, 255, 0.7);
    primary-transparent-80: rgba(166, 200, 255, 0.8);
    primary-transparent-90: rgba(166, 200, 255, 0.9);
    on-primary-transparent-50: rgba(1, 49, 94, 0.5);
    on-primary-transparent-60: rgba(1, 49, 94, 0.6);
    on-primary-transparent-70: rgba(1, 49, 94, 0.7);
    on-primary-transparent-80: rgba(1, 49, 94, 0.8);
    on-primary-transparent-90: rgba(1, 49, 94, 0.9);

    background-transparent-50: rgba(11, 13, 16, 0.5);
    background-transparent-60: rgba(11, 13, 16, 0.6);
    background-transparent-70: rgba(11, 13, 16, 0.7);
    background-transparent-80: rgba(11, 13, 16, 0.8);
    background-transparent-90: rgba(11, 13, 16, 0.9);

    surface-transparent-50: rgba(17, 19, 24, 0.5);
    surface-transparent-60: rgba(17, 19, 24, 0.6);
    surface-transparent-70: rgba(17, 19, 24, 0.7);
    surface-transparent-80: rgba(17, 19, 24, 0.8);
    surface-transparent-90: rgba(17, 19, 24, 0.9);
    surface-container-transparent: rgba(29, 32, 36, 0.5);

    background-color:            @background;
    normal-background:           @background;
    active-background:           @background;
    urgent-background:           @background;
    selected-normal-background:  @surface-container-low;
    selected-active-background:  @blue;
    selected-urgent-background:  @red;
    alternate-normal-background: @surface-dim;
    alternate-active-background: @surface-dim;
    alternate-urgent-background: @surface-dim;

    text-color:                  @on-background;
    normal-foreground:           @on-background;
    active-foreground:           @on-background;
    urgent-foreground:           @red;
    selected-normal-foreground:  @on-background;
    selected-active-foreground:  @background;
    selected-urgent-foreground:  @background;
    alternate-normal-foreground: @on-background;
    alternate-active-foreground: @on-background;
    alternate-urgent-foreground: @on-background;

    separatorcolor:              @foreground;
    border-color:                @primary;
}
