@import "styles/colors.css";

* {
  all: unset;

  font-family: "monospace";
  font-size: 18px;

  color: @fg;
  background: none;

  border: none;
  border-radius: 0;

  padding: 0;
  margin: 0;
}

@import "styles/control-center.css";
@import "styles/notification.css";
