@import "shared/defaults.rasi"

configuration {
  modi: "drun,run";

  show-icons: false;

  display-run: " Run";

	drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
}

listview {
  lines: 5;
  columns: 2;

  scrollbar: true;
}
